@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    width: 80px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: Roboto;
    padding: 35px;
}

nav a:hover {
    background-color: #396E94;
    color: black;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

.home-title {
    color: white;
    font-family: Limelight;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: white;
    font-family: Roboto;
}

.book, .join {
    background-color: white;
    color: black;
    text-decoration: none;
    font-family: Roboto;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: black;
    color: white;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

header {
    background-color: #7392b7;
    display: grid;
    grid-template-columns: 150px auto;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

body {
    background-color: #7392b7;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
    font-family: Roboto;
    box-sizing: border-box;
}

.card-img, .mountains {
    width: 100%;
}

.card-img {
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px black;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px black;
}

.icon {
    padding-top: 10px;
}

.icon {
    width: 80px;
}

#background {
    height: 725px;
    background-color: #c5d5ea;
    grid-column: 1/11;
    grid-row: 4/9;
}

h2 {
    margin: 0;
}

.msg {
    background-color: #759eb8;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px black;
}

.msg h2 {
    color: black;
    font-family: Limelight;
}

.msg p {
    color: black;
    font-family: Roboto;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #7392b7;
    color: black;
    font-family: Roboto;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer p {
    font-size: 1.2em;
    font-family: Roboto;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

/* FAQ Page */

#faq {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#banner-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#banner-msg {
    grid-column: 1/4;
    grid-row: 2/3;
}

#banner-img {
    width: 100%;
}

.faq-title {
    color: white;
    font-family: Limelight;
    font-size: 2em;
    margin-top: 10px;
    text-align: center;
}

.question-1 h2, .question-2 h2, .question-3 h2, .question-4 h2, .question-5 h2 {
    color: white;
    font-family: Roboto;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: left;
    margin-left: 20px;
}

.question-1 p, .question-2 p, .question-3 p, .question-4 p, .question-5 p {
    color: black;
    font-family: Roboto;
    font-size: 1em;
    padding-bottom: 15px;
    text-align: left;
    margin-left:20px;
}

#faq-river-img, #faq-river-img-2 {
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px black;
    height: 300px;
    width: 400px;
}

#faq-river-img {
    margin-left: 150px;
    margin-right: 50px;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid, #faq, .faq-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title, .faq-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}