@import url('https://fonts.googleapis.com/css?family=Rock+Salt&family=Special+Gothic:wght@400..700&display=swap');

#logo_link {
    justify-self: center;
    align-self: center;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    width: 150px;
    height: 150px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #D05353;
    width: 100%;
    align-items: center;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Special Gothic, sans-serif;
    padding: 15px;
    font-size: 25px;
}

nav a:hover {
    background-color: #481D24;
    color: white;
}

#banner {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: -100px;
}

#banner-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}


#banner-img {
    width: 100%;
    height: auto;
    z-index: -2;
}

.home-title {
    color: #481D24;
    font-family: 'Rock Salt';
    font-size: 4em;
    margin-top: 10px;
    position: relative;
    bottom: 0;
    right: -50%;
}

h4 {
    color: #D05353;
    font-family: Special Gothic, sans-serif;
    text-align: center;
    font-size: 2em;
    margin-left: 50px;
    margin-right: 50px;
}

#body-box {
    margin-top: 50px;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.home-img2 {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 400px;
    height: 82%;
    margin-top: 50px;
    margin-left: 50px;
    border: 10px solid #657153;
}

.youtube {
    grid-row: 1/2;
    grid-column: 2/3;
    text-align: center;
    font-size: 2em;
    font-family: 'Rock Salt';
    color: #481D24;
}

.youtube-img {
    grid-row:2/3;
    grid-column: 2/3;
    width: 80%;
    margin: 0 auto;
    border: 10px solid #657153;

}

.youtube-img:hover {
    opacity: .8;
    transform: scale(1.1);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #657153;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #555;
}

footer {
    background-color: #D05353;
    color: white;
    font-family: Special Gothic, sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer p {
    font-size: 1.2em;
    font-family: Special Gothic, sans-serif;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

