@import url('https://fonts.googleapis.com/css?family=Rock+Salt&family=Special+Gothic:wght@400..700&display=swap');

#logo_link {
    justify-self: center;
    align-self: center;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    width: 150px;
    height: 150px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #D05353;
    width: 100%;
    align-items: center;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Special Gothic, sans-serif;
    padding: 15px;
    font-size: 25px;
}

nav a:hover {
    background-color: #481D24;
    color: white;
}

#banner, #about-banner, #creative-banner {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: -100px;
}

#banner-box, #about-banner-box, #creative-banner-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
    position: relative;
}

#banner-img, #about-banner-img, #creative-banner-img {
    width: 100%;
    height: auto;
    z-index: -2;
}

.home-title {
    color: #481D24;
    font-family: 'Rock Salt';
    font-size: 4em;
    text-align: center;
    position: absolute;
    bottom: 20%;
    right: 10%;
}

.about-title {
    color: #481D24;
    font-family: 'Rock Salt';
    font-size: 4em;
    text-align: center;
    position: absolute;
    bottom: 5%;
    right: 60%;
}

.creativeworks-title {
    color: #481D24;
    font-family: 'Rock Salt';
    font-size: 4em;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: -20%;
    width: 100%;
}

h4 {
    color: #D05353;
    font-family: Special Gothic, sans-serif;
    text-align: center;
    font-size: 2em;
    margin-left: 50px;
    margin-right: 50px;
}

#body-box {
    margin-top: 50px;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

#about-box {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    column-width: 400px;
}

#creative-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.home-img2 {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 400px;
    height: 82%;
    margin-top: 50px;
    margin-left: 50px;
    border: 10px solid #657153;
}

.personal-pic {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 300px;
    height: 50%;
    align-self: center;
    justify-self: center;
    margin-left: 50px;
    border: 10px solid #657153;
}

.talentless-cover, .joy-of-rain-cover, .mystics-cover, .whisper-of-wind-cover, .detective-storms-cover {
    width: 200px;
    height: 20%;
    margin-left: 100px;
    grid-row: 4/6;
    box-shadow: 5px 5px 10px black;
}

.talentless-cover:hover, .joy-of-rain-cover:hover, .mystics-cover:hover, .whisper-of-wind-cover:hover, .detective-storms-cover:hover {
    opacity: .8;
    transform: scale(1.1);
}

.wip-img {
    width: 30%;
    margin: 0 auto;
    border: 10px solid #657153;
}

h2 {
    font-size: 2em;
    font-family: 'Rock Salt';
    color: #481D24; 
    margin-left: 100px;
}

.youtube {
    grid-row: 1/2;
    grid-column: 2/3;
    text-align: center;
    font-size: 2em;
    font-family: 'Rock Salt';
    color: #481D24;
}

.talentless {
    grid-row: 1/6;
    grid-column: 3/4;
    text-align: center;
    font-size: 3em;
    font-family: Special Gothic, sans-serif;
    color: #D05353;
    margin: -330px 300px;
    margin-bottom: 350px;
}

.novel-para {
    grid-row: 2/3;
    grid-column: 2/3;
    margin: -300px 400px;
    margin-bottom: 100px;
    margin-right: 0;
    text-align: left;
    font-size: 2em;
    font-family: Special Gothic, sans-serif;
    color: #D05353;
    max-width: 850px;
}

.nano {
    grid-row: 1/6;
    grid-column: 3/4;
    text-align: center;
    font-size: 3em;
    font-family: Special Gothic, sans-serif;
    color: #D05353;
    margin: -300px 100px;
    margin-bottom: 320px;
    width: 100%;
}

.nano-para {
    margin: -300px 475px;
    margin-bottom: 100px;
    margin-right: 0;
    text-align: left;
    font-size: 2em;
    font-family: Special Gothic, sans-serif;
    color: #D05353;
    width: 60%;
}
.myname{
    grid-row: 1/2;
    grid-column: 1/3;
    text-align: center;
    font-size: 2em;
    font-family: 'Rock Salt';
    color: #481D24;
    margin-top: 100px;
}

.personal-bio {
    grid-row: 2/3;
    grid-column: 2/3;
    margin: -400px 420px;
    margin-bottom: 300px;
    margin-right: 0;
    text-align: center;
    font-size: 2em;
    font-family: Special Gothic, sans-serif;
    color: #D05353;
    max-width: 800px;
    padding: 20px;
}

.youtube-img {
    grid-row:2/3;
    grid-column: 2/3;
    width: 80%;
    margin: 0 auto;
    border: 10px solid #657153;
    box-shadow: 5px 5px 10px black;
}

.youtube-img:hover {
    opacity: .8;
    transform: scale(1.1);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #657153;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #555;
}

footer {
    background-color: #D05353;
    color: white;
    font-family: Special Gothic, sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer p {
    font-size: 1.2em;
    font-family: Special Gothic, sans-serif;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

